@model IEnumerable<Order>
@{
    ViewData["Title"] = "My Orders";
}

<div class="container">
    <h1 class="text-center enchantedLand">My Orders</h1>
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive border rounded-2 gredientCard Nohover">
            <div class="accordion" id="accordionOrders" style="--bs-accordion-bg:transparent;">
                @foreach (var order in Model)
                {
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-@order.OrderId">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@order.OrderId" aria-expanded="false" aria-controls="collapse-@order.OrderId">
                                <span class="fw-bold">Order Date: &nbsp;</span> @order.CreateDate.ToString("dd-MM-yyyy") |
                                <span class="fw-bold">Status: &nbsp;</span> @order.OrderStatus.StatusName |
                                <span class="fw-bold">Total: &nbsp;</span> @(order.OrderDetails.Select(item => item.Art.ArtPrice * item.Quantity).Sum())
                            </button>

                        </h2>
                        <div id="collapse-@order.OrderId" class="accordion-collapse collapse" aria-labelledby="heading-@order.OrderId" data-bs-parent="#accordionOrders">
                            <div class="accordion-body overflow-scroll">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Art</th>
                                            <th>Image</th>
                                            <th>Genre</th>
                                            <th>Unit Price (US$)</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in order.OrderDetails)
                                        {
                                            <tr>
                                                <td class="text-capitalize fw-bold">@item.Art.ArtName</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.Art.ArtImage))
                                                    {
                                                        <img src="/uploadimage/@item.Art.ArtImage" class="img-fluid" style="width:150px; height:auto;" data-bs-toggle="modal" data-bs-target="#PreviewModal" data-bs-image="/UploadImage/@item.Art.ArtImage" />
                                                    }
                                                    else
                                                    {
                                                        <img src="/uploadimage/noimage.jpg" class="img-fluid" style="width:150px; height:auto;" />
                                                    }
                                                </td>
                                                <td>@item.Art.Genre.GenreName</td>
                                                <td>@item.Art.ArtPrice X @item.Quantity</td>
                                                <td>@(item.Art.ArtPrice * item.Quantity)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <h5 class="text-muted">No Orders Yet!</h5>
    }
</div>

